#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-weight: bold;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    h3 {
        text-decoration-line: underline;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h5 {
        font-size: 1.0rem;
        line-height: 1.5rem;
    }

    section {
        border-radius: 0.5rem;
        max-width: 1700px;
        min-width: 350px;
        width: 50%;
        height: auto;
        margin: 0.5rem 0 0.5rem 0;
        padding: 2em;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        p {
            font-size: 1.5rem;
            line-height: 1.75rem;

            a[href] {
                font-weight: bold;
            }
            a[href]:hover {
                text-decoration: underline solid black;
            }
        }
    }

    @media screen and (min-width: 768px){
        section {
            margin: 0.5rem 5rem 0.5rem 5rem;
            padding: 1rem;
            h1 {
                font-size: 2.25rem;
                line-height:calc(2.5 / 2.25)
            }
        }
    }

    @media screen and (min-width: 1024px){

        section {
            margin: 0.5rem 10rem 0.5rem 10rem;
            padding: 2rem;
            h1 {
                font-size: 3.75rem;
                line-height:calc(2.5 / 2.25)
            }
        }
    }

    .text-content {
        text-indent: 1.5rem;
        padding: 1.25rem 0.625rem 1.25rem 0.625rem;
    }

    .experience-group {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0 0.5rem 0;


        p {
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }

    a[href]:hover{
        color: #0284c7 !important;
        text-decoration-line: underline;
    }

}